@{
    ViewData["Title"] = "Inicio";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1>ArmonySound Academic</h1>
    <h3>Bienvenid@s</h3>
</div>
