@* @* Referencia al Modelo a utilizar *@
@model ASA.SysAdministrativo.EN.Empleados_EN.Empleado

@{
    //Titulo de la Pestaña
    ViewData["Title"] = "Agregar Empleado";
}
<br />
<br />
<br />
@* Titulo *@
<h3>Agregar Nuevo Empleado - ArmonySound Academic</h3>
@* Formultario para Guardar *@
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @* Carta para Informacion Personal *@
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Informacion Personal</h5>
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <div style="display:flex; margin-left:5px">
                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label" for="basic-default-fullname">Nombre</label>
                            <input asp-for="Nombre" type="text" class="form-control" placeholder="Ingresar" style="">
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="mb-3" style="margin-left:inherit">
                            <label asp-for="Apellido" class="form-label" for="basic-default-fullname">Apellido</label>
                            <input asp-for="Apellido" type="text" class="form-control" placeholder="Ingresar" style="">
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>
                        <div class="mb-3" style="margin-left:inherit">
                            <label asp-for="Dui" class="form-label" for="basic-default-fullname">Dui</label>
                            <input asp-for="Dui" type="text" class="form-control" placeholder="XXXXXXXX-X" style="">
                            <span asp-validation-for="Dui" class="text-danger"></span>
                        </div>
                        <div class="mb-3" style="margin-left:inherit">
                            <label asp-for="FechaDeNacimiento" class="form-label" for="basic-default-fullname">Fecha de Nacimiento</label>
                            <input asp-for="FechaDeNacimiento" type="date" class="form-control" style="">
                            <span asp-validation-for="FechaDeNacimiento" class="text-danger"></span>
                        </div>
                        <div class="mb-3" style="margin-left:inherit">
                            <label asp-for="Edad" class="form-label" for="basic-default-fullname">Edad</label>
                            <input asp-for="Edad" type="text" class="form-control" style="width:90px">
                            <span asp-validation-for="Edad" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="display:flex; margin-left:7px">
                        <div class="mb-3">
                            <label asp-for="Genero" class="form-label" for="basic-default-fullname">Genero</label>
                            <select class="form-select" name="Genero">
                                <option value="seleccionar">Seleccionar</option>
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                                <option value="otro">Otro</option>
                            </select>
                            <span asp-validation-for="Genero" class="text-danger"></span>
                        </div>
                        <div class="mb-3" style="margin-left:inherit">
                            <label asp-for="EstadoCivil" class="form-label" for="basic-default-fullname">Estado Civil</label>
                            <select class="form-select" name="EstadoCivil">
                                <option value="seleccionar">Seleccionar</option>
                                <option value="soltero/a">Soltero/a</option>
                                <option value="casado/a">Casado/a</option>
                                <option value="divorciado/a">Divorciado/a</option>
                                <option value="viudo/a">Viudo/a</option>
                            </select>
                            <span asp-validation-for="EstadoCivil" class="text-danger"></span>
                        </div>
                        <div class="mb-3" style="margin-left:inherit">
                            <label asp-for="Direccion" class="form-label" for="basic-default-fullname">Direccion</label>
                            <input asp-for="Direccion" type="text" class="form-control" placeholder="Ingresar" style="width:500px">
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="display:flex; margin-left:5px">
                        <div class="mb-3">
                            <label asp-for="Telefono" class="form-label" for="basic-default-fullname">Telefono</label>
                            <input asp-for="Telefono" type="text" class="form-control" placeholder="0000-0000" style="">
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                        <div class="mb-3" style="margin-left:inherit">
                            <label asp-for="CorreoElectronico" class="form-label" for="basic-default-fullname">Correo Electronico</label>
                            <input asp-for="CorreoElectronico" type="email" class="form-control" placeholder="Ingresar" style="">
                            <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                        </div>
                        <div class="mb-3" style="margin-left:inherit">
                            <label asp-for="NumeroDeEmergencia" class="form-label" for="basic-default-fullname">Numero de Emergencia</label>
                            <input asp-for="NumeroDeEmergencia" type="text" class="form-control" placeholder="0000-0000" style="">
                            <span asp-validation-for="NumeroDeEmergencia" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    @* Carta para Informacion Adicional *@
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Informacion Adicional</h5>
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <div style="display:flex; margin-left:5px">
                        <div class="mb-3" style="margin-left:inherit">
                            <label asp-for="TipoDeBachillerato" class="form-label" for="basic-default-fullname">Tipo de Bachillerato</label>
                            <input asp-for="TipoDeBachillerato" type="text" class="form-control" placeholder="Ingresar" style="width:500px">
                            <span asp-validation-for="TipoDeBachillerato" class="text-danger"></span>
                        </div>
                        <div class="mb-3" style="margin-left:inherit">
                            <label asp-for="TituloUniversitario" class="form-label" for="basic-default-fullname">Titulo Universitario</label>
                            <input asp-for="TituloUniversitario" type="text" class="form-control" placeholder="Ingresar" style="width:500px">
                            <span asp-validation-for="TituloUniversitario" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3" style="margin-left:inherit">
                        <label asp-for="ExperienciaLaboral" class="form-label" for="basic-default-fullname">Experiencia Laboral</label>
                        <input asp-for="ExperienciaLaboral" type="text" class="form-control" placeholder="Ingresar" style="width:800px">
                        <span asp-validation-for="ExperienciaLaboral" class="text-danger"></span>
                    </div>
                    <div style="display:flex; margin-left:5px">
                        <div class="mb-3">
                            <label asp-for="AreaDeEspecializacion" class="form-label" for="basic-default-fullname">Area de Especializacion</label>
                            <input asp-for="AreaDeEspecializacion" type="text" class="form-control" placeholder="Ingresar" style="width:700px">
                            <span asp-validation-for="AreaDeEspecializacion" class="text-danger"></span>
                        </div>
                        <div class="mb-3" style="margin-left:inherit">
                            <label asp-for="PuestoOCargo" class="form-label" for="basic-default-fullname">Puesto o Cargo</label>
                            <select class="form-select" name="PuestoOcargo">
                                <option value="seleccionar">Seleccionar</option>
                                <option value="maestrodepiano">Maestro de Piano</option>
                                <option value="maestrodebateria">Maestro de Bateria</option>
                                <option value="maestrodebajo">Maestro de Bajo</option>
                                <option value="maestrodeguitarra">Maestro de Guitarra</option>
                                <option value="maestrodecanto">Maestro de Canto</option>
                                <option value="ordenansa">Ordenansa</option>
                                <option value="secretario/a">Secretario/a</option>
                            </select>
                            <span asp-validation-for="PuestoOCargo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    @* Boton para Guarar y Regrear *@
    <div class="form-group mb-3" style="margin-right:3%">
        <input type="submit" value="Agregar Empleado" class="btn btn-primary" style="margin-right:3%; width:200px" />
        <a asp-action="Index">Regresar</a>
    </div>
</form>


@* Seccion de Scripts (C# o JavaScript) *@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
